*{
    box-sizing: border-box;
}

.chat-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 2px solid rgba(96, 80, 164, 0.265);
}

.modal{
    overflow-y: hidden;
    padding: 2em 6em;
    min-height: 82.4vh;
    max-height: 82.4vh;
    overflow-y: scroll;
}

.right-main{
    display: flex;
    justify-content: end;
    flex-direction: row;  
    
}

.right-convo-look{
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}
.right-convo-look :nth-child(2){
    align-self: self-end;   
}

.right-convo-message{   
    padding: 1em;
    background-color: #4664FF;
    color: white;
    border-radius: 10px;
    border-bottom-right-radius: 1px ;
    max-width:300px ;
}


/* left side */
.left-main{
    display: flex;
    justify-content: start;
    flex-direction: row;  
}
.left-convo-look{
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}
.left-convo-look :nth-child(2){
    align-self: self-start;   
}

.left-convo-message{   
    padding: 1em;
    max-width:300px ;
    background-color: white;
    border-radius: 10px;
    border-bottom-left-radius: 1px ;
}
/* left side */

.chat-input{
    display: flex;
    justify-content: center;
    background: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(92,92,164,1) 0%, rgba(132,179,255,1) 81%);
    padding: 1em;
}

.chat-input input{
    padding: 1em 2em;
    width: 70%;
    border: none;
    
}
.send-button button{
    height: 50px ;
    width: 50px;
    align-self: center;
    background-color: #4664FF;
    border: none;
    cursor: pointer;

}
.edit-button{
    margin: 0 .5em;
}
.edit-message{
    margin-left: .5em;
    margin-top: .5em;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    padding: .4em;
    cursor: pointer;
}
/* error message */
.error-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-message h1{
    margin-top: 5em;

}
